{% extends "base.html" %}

{% block title %}World of Blumeria{% endblock %}

{% block content %}
<style>
    body {
    background-image: url("{{url_for('static', filename='AG_Sotiropoulos_background_blumeria_light.jpg')}}");
    }
</style>
<div class="container-fluid">
    <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
        
        <h1 class="display-4">World of Blumeria</h1>
          
            <div class="lead">
                <p>Welcome to the world of <i>Blumeria graminis</i>.</p><br>
                <small><p><a href="/login"><i>Login</i><a> or <a href="/user"><i>register</i></a>.</p></small>
            </div>
                            
    </div>
</div>
{% endblock %}
