{% extends "base.html" %}



{% block content %}

<header class="masthead">
    <br>
    <br>
    <br>
    <br>
     <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h4 class="text-white">About the Genomebrowser</h4>
                        <br>
                        <p class="mb-0 text-white-50">This genomebrowser is here to provide information about the diversity of Brachypodium distachyon genes. When scientists find something about a B. distachyon gene the laboratory and they want to know how diverse this gene is over different B. distachyon isoforms they can use this genomebrowser to look up the phylogenetic tree of that given gene.</p>
                        <br>
                        <p class="mb-0 text-white-50">The gene of interest can be written into the input-field that can be found on the "Genomebrowser" tab. While entering the name of the gene of interest into the search bar the browser will propose the complete gene name and autocomplete it when the gene name is selected. Pressing on the "Go!" button, the browser will then show the phylogenetic tree of the gene of interest.  </p>
                        <br>
                        <p class="mb-0 text-white-50">That the readability of the phylogenetic trees can be maintained, the branches are only labelled with one B. distachyon isoform. However, the next step of this project is to add the information about where the other isoforms are located on the phylogenetic tree.</p>
                        <br>
                        <p class="mb-0 text-white-50">This genomebrowser can propose and show any phylogenetic tree that is stored in the folder "/static/treefiles" and whose filename starts with "tree." and ends with ".png". </p>
                        <br>
                       
                        
                        <hr class="d-none d-lg-block mb-0 ms-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>









</header>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">BIO294 Project - UZH</div></footer>

{% endblock %}



