{% extends "base.html" %}

{% block title %}Brachy Gene Trees{% endblock %}

{% block content %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="text-white-50 mx-auto mb-4">{{bigtitle}}</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">A genome browser for Brachypodium.</h2>
                        <a class="btn btn-primary" href="#Gene_name">Get Started</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About the Genomebrowser-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">About the Genomebrowser</h2>
                        <p class="text-white-50">
                            Add the Info...
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
      
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div></footer>


{% endblock %}
