{% extends "base.html" %}



{% block content %}

<header class="masthead">
    <br>
    <br>
    <br>
    <br>
     <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h4 class="text-white">Report</h4>
                        <p class="mb-0 text-white-50">Add the report....</p>
                        <p class="mb-0 text-white-50">... </p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <hr class="d-none d-lg-block mb-0 ms-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>









</header>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">BIO294 Project - UZH</div></footer>

{% endblock %}



